@using Garden.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Little Green Square</h1>
</div>


<p>@Html.ActionLink("Plots", "Index", "Plots")</p> 
<p>@Html.ActionLink("Squarefoots", "Index", "Squarefoots")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Logout", "Index", "Account")</p>