@using Garden.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="sign">
    <h1><span class="sign__word">Little Green Square</span></h1>
</div>
<br>

<p class="btn btn-light">@Html.ActionLink("Plots", "Index", "Plots")</p> 
<p class="btn btn-light">@Html.ActionLink("Squarefoots", "Index", "Squarefoots")</p>
<p class="btn btn-light">@Html.ActionLink("Create an account", "Index", "Account")</p>
<p class="btn btn-light">@Html.ActionLink("Logout", "Index", "Account")</p>