@{
    Layout = "_LayoutLearning";
}

<div class="main">
  <h1>Welcome to Uncle Ted's <br> Learning Shed</h1>
</div>

<div class="row" id="leaf-grid">
  <div class="col-md-4">
      <div id="left-side" style="display: none;">
        <h6>Hardiness Zones</h6>
        <p>Hardiness Zones are how gardeners recognize if a plant will thrive in a given location. They are based on certain climate conditions. Check out a map <a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here!</a> Our app will also give you hardiness zones based on your zip code!</p>
      </div>
      
      <div id="left-side2" style="display: none;"> 
        <h6>Composting</h6> 
        <p>Composting is the process of turning waste into effective soil enhancing material. This
        <a href="https://www.planetnatural.com/composting-101/making/how-it-works/">link </a>explains the process in a step by step guide for beginners!</p>
      </div>
    <div id="left-side3" style="display: none;"><h6>Soil Types</h6>
      <p>Soil is more than dirt! It's full of nutrients plants need to survive. <a href="https://learn.eartheasy.com/articles/know-your-garden-soil-how-to-make-the-most-of-your-soil-type/"> Learn about soil types here!</a></p>
    </div>
    <div id="left-side4" style="display: none;"><h6> Companion/Enemy Plants</h6>
    <p><a href="https://www.almanac.com/companion-planting-chart-vegetables">Companion</a> plants are plants that grow well together, like peanut butter and jelly, but far less delicious.
    <a href="https://www.dominion-seed-house.com/upload/Le%20compagnonnage_EN.pdf">This chart</a> is a great guide.</p></div>
        <div id="right-side" style="display: none;"><h6>Insects</h6><p>Insects can be a great pal or a garden-ruining nuisance! <a href="https://www.gardentech.com/blog/pest-id-and-prevention/identifying-good-and-bad-bugs-in-your-garden-infographic"> Read this to figure out which bugs help or hurt!</a></p></div>
    <div id="right-side2" style="display: none;"><h6>Pruning & Thinning</h6><p>Pruning helps direct your seeds growth, while thinning prevents overcrowding of your plot! <a href="https://simplifygardening.com/pruning-vs-thinning/">This guide</a></p>will help teach you when and how to do both.</div>
    <div id="right-side3" style="display: none;"><h6>Cloches</h6><p>Cloches are creative protective exteriors to help plants grow and keep them safe! <a href="https://www.diyncrafts.com/117912/home/gardening/20-garden-cloche-ideas-to-protect-your-plants-many-upcycled-ideas">Learn to make your own here!</a></p></div>
    <div id="right-side4" style="display: none;"><h6>Is it time to plant?</h6><p>There's no easy answer on when to plant. It can be a complicated decision! Fortunately <a href="https://www.almanac.com/vegetable-gardening-for-beginners">this guide </a>will help you figure out the right time for you.</p></div>
  </div>
  <div class="col-md-4 main-side"> 
    <h4>Check out the leaflets to learn more about each topic!</h4>
    <div class ="buttons">
      <p><a class="btn btn-light" href="#" onclick="divVisibility('left-side');">Hardiness Zones</a></p>
      <p><a class="btn btn-light" href="#" onclick="divVisibility('left-side2');">Composting</a></p>
      <p><a class="btn btn-light" href="#" onclick="divVisibility('left-side3');">Soil Types</a></p>
      <p><a class="btn btn-light" href="#" onclick="divVisibility('left-side4');">Companion & Enemy Plants</a></p>
      <p><a class="btn btn-light" href="#" onclick="divVisibility('right-side');">Insects: Friends and Foes</a></p>
      <p><a class="btn btn-light" href="#" onclick="divVisibility('right-side2');">Pruning/Thinning Seedlings</a></p>
      <p><a class="btn btn-light" href="#" onclick="divVisibility('right-side3');">Cloche Your Plants</a></p>
      <p><a class="btn btn-light" href="#" onclick="divVisibility('right-side4');">When to Plant?</a></p>
    </div>
  </div>
</div>




