@{
    ViewData["Title"] = "Learning Zone";
}

<h1>Welcome to Uncle Ted's Learning Shed</h1>

<h3>Hardiness Zones</h3>
<p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p>

<h3></h3>
@using (Html.BeginForm())
{
    
}