@{
    Layout = "_LayoutLearning";
}

<div class="main">
  <h1>Welcome to Uncle Ted's <br> Learning Shed</h1>
</div>

<div class="row" id="leaf-grid">
  <div class="col-md-4">
      <div id="left-side">
        <h6>Hardiness Zones</h6>
        <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p>
      </div>
      <!-- <div id="left-side2">
        <h6>Hardiness Zones</h6>
        <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p>
      </div>
      <div id="left-side3">
        <h6>Hardiness Zones</h6>
        <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p></div>
      </div>
    @*  <div id="left-side4"><h6>Hardiness Zones</h6>
        <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p></div> *@ -->
  </div>
  <div class="col-md-4 main-side"> 
    <h4>Check out the leaflets to learn more about each topic!</h4>
      <ul>Hardiness Zones</ul>
      <ul>Composting</ul>
      <ul>Soil Types</ul>
      <ul>Crop Rotation</ul>
      <!-- * Soil Types (and how to improve soil composition)
            * Companion and Enemy plants (different plants protect or hurt each other)
            [4:56 PM]
            * Composting
            [4:57 PM]
            * Crop rotation (don't plant the same vegetable family in the same section each year)
            [4:59 PM]
            * Beneficial insects vs Pests
            [4:59 PM]
            * pruning and thinning seedlings
            [5:01 PM]
            * cloches for starting plants earlier
            [5:02 PM]
            * when to plant depending on your hardiness zone or first/last frost date -->
      <ul>Companion & Enemy Plants</ul>
      <ul>Hardiness Zones</ul>
      <ul>Hardiness Zones</ul>
      <ul>Hardiness Zones</ul>
      <ul>Hardiness Zones</ul>
  </div>
  <div class="col-md-4">
    <div id="right-side">Uncle Ted Memorial Nameplate</div>
    <!-- <div id="right-side2">Uncle Ted Memorial Nameplate</div>
    <div id="right-side3">Uncle Ted Memorial Nameplate</div>
    @* <div id="right-side4" >Uncle Ted Memorial Nameplate</div> *@ -->
  </div>
</div>




