@{
    Layout = "_LayoutLearning";
}

<div class="main">
  <h1>Welcome to Uncle Ted's <br> Learning Shed</h1>
</div>

<div class="row align-items-start" id="leaf-grid">
    <div class="col">
        <div class="left-side"><h6>Hardiness Zones</h6>
            <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p>
        </div>
        <div id="left-side2"><h6>Hardiness Zones</h6>
            <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p></div>
        <div id="left-side3"><h6>Hardiness Zones</h6>
            <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p></div>
        </div>
      </div>
    @*  <div id="left-side4"><h6>Hardiness Zones</h6>
        <p><a href="https://www.fs.fed.us/wildflowers/Native_Plant_Materials/Native_Gardening/hardinesszones.shtml">here</a></p></div> *@
    <div class="col">
      <div class="main-side"> Check out the leaflets to learn more about each topic!
          <ul>Hardiness Zones</ul>
          <ul>Bullet Point 2</ul>
          <ul>Hardiness Zones</ul>
          <ul>Hardiness Zones</ul>
          <ul>Hardiness Zones</ul>
          <ul>Hardiness Zones</ul>
          <ul>Hardiness Zones</ul>
          <ul>Hardiness Zones</ul>
          <ul>Hardiness Zones</ul>
      </div>
    </div>
    <div class="col">
        <div class="right-side" >Uncle Ted Memorial Nameplate</div>
        <div id="right-side2" >Uncle Ted Memorial Nameplate</div>
        <div id="right-side3" >Uncle Ted Memorial Nameplate</div>
        @* <div id="right-side4" >Uncle Ted Memorial Nameplate</div> *@
    </div>
</div>



