@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="behind">
<h1>@ViewData["Title"]</h1>

<p>The plants are watching. Always listening. Don't trust the plants. Don't trust the trees.</p>
</div>