
@{
  Layout = "_Layout";
}

@model Garden.Models.Squarefoot

<h3> Are you sure you want to delete this squarefoot? </h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-light" />
}
@Html.ActionLink("Back to your squarefoots", "Index")