@using Garden.Models;
@{
  Layout = "_Layout";
}

<h2>Here's your Plot: </h2>

<div class="plot">
  <section id="top-bar">
    <div id="clone-container">
      <div id="scroll-box">
        <div id="tile-container">

          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Tomatoes</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Cabbage</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Corn</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Zucchini</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Cucumber</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Pumpkin</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">G</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">H</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">I</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">J</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">K</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">L</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">M</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">N</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">O</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">P</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Q</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">R</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">S</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">T</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">U</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">W</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">X</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Y</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" class="tile">Z</div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="content"></section>
  <section id="drop-panel">
    <h3>DRAG ITEMS HERE</h3>
  </section>
</div>