@{
  Layout = "_Layout";
}
@using Garden.Models;
@model List<Garden.Models.Plot>

<div class="behind">
@if(@Model.Count() == 0)
{
  <h3>You have no plots!</h3>
}
else
{
  <h2>Plots</h2>
  @foreach(Plot plot in Model)
  {
    <p>@Html.ActionLink($"{plot.Name}", "Details", new { id = plot.PlotId }, new { @class = "ButtonText" })</p>
  }
}
<br>
<p class="btn btn-light">@Html.ActionLink("Add Plot", "Create")</p>
<!-- <p class="btn btn-light">@Html.ActionLink("See Plots", "Details")</p> -->
</div>