@{
  Layout = "_Layout";
}
@using Garden.Models;

<h2>Here's your Plot: </h>

<div class="plot">
  <section id="top-bar">
    <div id="clone-container">
      <div id="scroll-box">
        <div id="tile-container">

          <div class="tile-wrapper">
            <div draggable= "true" id="tile" class = "tile">Tomatoes</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile2" class ="tile">Cabbage</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile3" class ="tile">Corn</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile4" class ="tile">Zucchini</div>
          </div>
          <div class="tile-wrapper">
            <div draggable= "true" id="tile5" class ="tile">Cucumber</div>
          </div>
          <div class="tile-wrapper"> 
            <div draggable= "true" id="tile6" class ="tile">Pumpkin</div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="content"></section>
  <div id="drop-panel">
    <h3>DRAG ITEMS HERE</h3>
  </div>
</div>

<p class="btn btn-light">@Html.ActionLink("Add Plot", "Create")</p>