@{
  Layout = "_Layout";
}

@using System.Security.Claims
<div class="behind">
<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
      @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-light" value="Log out" />
    }
}
else
{
    <p class="btn btn-light">@Html.ActionLink("Register", "Register")</p>
    <br>
    <p class="btn btn-light">@Html.ActionLink("Log in", "Login")</p>
}
<br>
<p class="btn btn-light">@Html.ActionLink("Home", "Index", "Home")</p>
</div>